exportPattern("^[^\\.]")
importFrom("stats", "p.adjust", "phyper")
importFrom("utils", "browseURL", "capture.output", "download.file",
    "read.csv", "write.table")
importFrom("qvalue","qvalue")
importFrom("ggplot2","ggplot","aes","geom_point","scale_colour_gradientn")
